<div class="new-issue-form-container clearfix">
  <div class="new-issue-form clearfix">
    <%= form_for(Issue.new) do |f| %>
          <dl class="form">
            <dt><%= f.label :title, "标题" %></dt>
            <dd><%= f.text_field :title , class: "form-control" %></dd>
          </dl>
          <dl class="form">
            <dt> <%= f.label :content, "时间地点--活动详情" %></dt>
            <dd> <%= f.text_area :content %> </dd>
          </dl>
          <p><%= f.submit "发布新活动", :class => "submit-issue-button btn btn-primary" %></p>
    <% end %>
  </div>
</div>
