<div class="new-issue-form-container clearfix">
  <div class="new-issue-form clearfix">
    <%= form_for([current_user, current_user.issues.build]) do |f| %>
          <dl class="form">
            <dt><%= f.label :title %></dt>
            <dd><%= f.text_field :title %></dd>
          </dl>
          <dl class="form">
            <dt> <%= f.label :content %></dt>
            <dd> <%= f.text_area :content %> </dd>
          </dl>
          <p><%= f.submit "Submit Issue", :class => "submit-issue-button" %></p>
    <% end %>
  </div>
</div>