<div class="issue-author">
  <div class="issue-author-avatar">
     <%= link_to @issue.user do %>
       <img src=<%= @issue.user.avatar %> alt="" class="issue-author-avatar-image">
     <% end %>
  </div>
</div>
<div class="issue-state">
  <ul class="btn-switch">
    <li <%= "class=active" if @issue.state == 'closed' %> >
       <%= link_to "Close", "/issues/close/#{@issue.id}", :method => :post %>
    </li>
    <li <%= "class=active" if @issue.state == 'open' %> >
      <%= link_to "Open", "/issues/open/#{@issue.id}", :method => :post %>
    </li>
  </ul>
</div>
<div class="issue-body">
  <h1 class="issue-body-title"><%= @issue.title %></h1>
  <div class="issue-meta-date">
    <%= link_to @issue.user.name %> at <%= @issue.created_at.strftime("%H:%M - %d %b %Y") %>
  </div>
  <div class="issue-content">
    <%= markdown(@issue.content) %>
  </div>
</div>


<% if current_user %>
  <div class="comment">
    <p class="date-time"><%= Time.now.strftime("%H:%M - %d %B %Y") %></p>
    <div class="message clearfix">
     <%= link_to current_user do %>
       <img src=<%= current_user.avatar %> alt="" class="avatar">
     <% end %>
      <div class="user-name">
        <%= link_to current_user.name, current_user %>:
      </div>
      <div class="comment-form">
        <%= form_for([@issue, @issue.comments.build]) do |f| %>
          <%= f.text_area :content, placeholder: "say something", class: "comment-textarea" %>
        <%= f.submit 'Submit', class: 'btn-submit' %>
      <% end %>
    </div>
    </div>
  </div>
<% end %>

<%= render partial: 'shared/comment_list', locals: {comments: @comments} %>


