<div class="issue-heading">
  <div class="container clearfix">
    <%= link_to "/", title: "Go Back" do %>
      <i class="fa fa-arrow-left"></i>
    <% end %>
    <%= @issue.title %>
  </div>
</div>
<div class="container">
  <div class="replies">
    <article class="reply clearfix">
      <div class="avatar">
        <%= link_to profile_path(@issue.user.name) do %>
          <img src=<%= @issue.user.avatar %> alt="" class="image-circle">
        <% end %>
      </div>
      <div class="body">
        <div class="heading">
          <h5 class="name"><%= link_to @issue.user.name, profile_path(@issue.user.name)%></h5>
          <span class="datetime">
            -- <%= time_ago_in_words @issue.created_at %>前
          </span>
        </div>
        <%= @issue.content %>
      </div>
    </article>
    <%= render partial: 'shared/comment_list', locals: {comments: @comments} %>
    <%= render partial: 'shared/comment_box' %>
  </div>
</div>




