<div class="login-form-container clearfix">
  <div class="login-form">
    <%= form_tag "/create_login_session" do %>
      <dl class="form">
        <dt>
       <%= label_tag "用户名" %>
        </dt>
        <dd>
        <%= text_field_tag :name, params[:name] %>
        </dd>
      </dl>
      <dl class="form">
        <dt>
        <%= label_tag "密码" %>（老用户的密码均为111111）
        </dt>
        <dd>
        <%= password_field_tag :password, params[:password] %>
        </dd>
      </dl>
      <p> <%= submit_tag "登录", :class => "login-button" %> </p>
      <div class="need-signup">
        <%= link_to "signup", signup_path %>
      </div>
    <% end %>
  </div>
</div>