<% if notice %>
  <p style="color: red"> <%= notice %> </p>
<% end %>

<div class="container">
  <h1>Log In</h1>

  <%= form_tag "/user_login" do %>
    <div class="field">
      <%= label_tag :name %><br />
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="actions"><%= submit_tag "Log In" %></div>
  <% end %>
</div>

