<% if current_user %>
<div class="comment">
  <p class="date-time"><%= Time.now.strftime("%H:%M - %d %B %Y") %></p>
  <div class="message clearfix">
   <%= link_to current_user do %>
   <img src=<%= current_user.avatar %> alt="" class="avatar">
   <% end %>
   <div class="user-name">
    <%= link_to current_user.name, current_user %>:
  </div>
  <div class="comment-form">
    <%= form_for([@issue, @issue.comments.build]) do |f| %>
    <%= f.text_area :content, placeholder: "say something", class: "comment-textarea" %>
    <%= f.submit 'Submit', class: 'btn-submit' %>
    <% end %>
  </div>
</div>
</div>
<% end %>
