<% if current_user %>
<article class="reply clearfix">
  <div class="avatar">
    <%= link_to profile_path(current_user.name) do %>
      <img src=<%= current_user.avatar %> alt="" class="image-circle">
    <% end %>
  </div>
  <div class="body">
      <%= form_for([@issue, @issue.comments.build]) do |f| %>
      <%= f.text_area :content %>
      <%= f.submit '提交评论', class: 'btn btn-primary btn-submit' %>
      <% end %>
  </div>
</article>
<% end %>
