<div class="issue-list">
  <% issues.each do |i| %>
    <article class="issue clearfix">
      <div class="avatar">
        <%= link_to profile_path(i.user.name) do %>
          <img src=<%= i.user.avatar %> alt="">
        <% end %>
      </div>
      <div class="body">
        <h5 class="title">
          <%= link_to i.title, issue_path(i) %>
        </h5>
        <%= link_to "read", i, class: "read-more" %>
        <span class="meta-data">
          <%= link_to i.user.name, profile_path(i.user.name)%> <%= time_ago_in_words(i.created_at) %>前
        </span>
      </div>
      <div class="issue-comment-count">
        <%= link_to i do %>
          <i class="fa fa-comments icon-muted"></i>
          <%= i.comments.count %>
        <% end %>
      </div>
    </article>
  <% end %>
</div>
