<div class="issue-list">
  <% issues.each do |i| %>
    <article class="issue">
      <div class="avatar">
        <%= link_to i.user do %>
          <img src=<%= i.user.avatar %> alt="">
        <% end %>
      </div>
      <h3 class="issue-title">
        <%= link_to i.title, issue_path(i) %>
      </h3>
      <p class="issue-snippet">
        <%= i.content %>
      </p>
      <div class="meta-data">
        <%= link_to i.user.name, i.user %> posted on <%= time_ago_in_words(i.created_at) %> ago
      </div>
    </article>
  <% end %>
</div>
