<ul class="issue-list">
  <% issues.each do |i| %>
    <li class="issue">
      <div class="avatar">
        <%= link_to i.user do %>
          <img src=<%= i.user.avatar %> alt="">
        <% end %>
      </div>
      <h3 class="issue-title">
        <%= link_to i.title, issue_path(i) %>
      </h3>
      <p class="issue-snippet">
        <%= truncate(strip_tags(markdown(i.content)), length: 10) { link_to "Continue", i } %>
      </p>
      <div class="meta-data">
        <%= link_to i.user.name, i.user %> posted on <%= time_ago_in_words(i.created_at) %> ago
      </div>
    </li>
  <% end %>
</ul>
