<div class="hero">
  <h2>调三四行代码，交一两个朋友</h2>
  <p>
    我们一般周末聚聚，学习 web 开发的新手老手交流一下，具体时间
          <%= link_to "注册", signup_path %> 后会邮件通知。
  </p>

  <p class="hero-links">
    <% if current_user && current_user.admin? %>
      <%= link_to "create_new_event", new_event_path %>
    <% end %>
    <br>
    <%= link_to "about_us", "/about" %>
    <br>
  </p>
</div>

<h2> All Events </h2>
<ul class="home">
  <% if !@events.empty? %>
    <% @events.each do |event| %>
      <li>
      <a href="/events/<%= event.id %>">
        <i><%= event.time.to_date %> </i>
        <h3><%= event.title %></h3>
      </a>
      </li>

    <% end %>
  <% else %>
    <p>
    No Events found
    </p>
  <% end %>
</ul>
