<p id="notice"><%= notice %></p>

<div class="hero">
  <p>
    We meet every sunday afternoon to talk about <b>Web development</b>, and have fun, join us, don't be shy.
  </p>

  <p class="hero-links">
    <%= link_to "create_new_event", new_event_path %>
    <br>
    <%= link_to "about_us", "#" %>
    <br>
    <%= link_to "join_us", "#" %>
    <br>
  </p>
</div>

<h2> All Events </h2>
<ul class="home">
  <% if !@events.empty? %>
    <% @events.each do |event| %>
      <li>
      <a href="/events/<%= event.id %>">
        <i><%= event.time.to_date %> </i>
        <h3><%= event.title %></h3>
      </a>
      </li>
    <% end %>
  <% else %>
    <p>
    No Events found
    </p>
  <% end %>
</ul>
