
<div class="event_container">

  <div class="boxed-group">
    <h2> <%= @event.title %> </h2>
    <i>日期: <%= @event.time.to_date %> </i>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Edit', edit_event_path(@event) %>
    <% end %>
    <div class="boxed-group-inner markdown-body">
      <p> <%= markdown(@event.content) %> </p>
    </div>
  </div>

  <% @event.comments.each do |comment| %>
    <div class="boxed-group">
      <h3><%= comment.user.name %> <span class='comment-by'> by commented</span> <span class='box-created'> <%= time_ago_in_words(comment.created_at) %> ago </span> </h3>


      <div class="boxed-group-inner markdown-body">
        <p> <%= markdown(comment.content) %> </p>
      </div>
    </div>
  <% end %>


  <div class="boxed-group">
    <b>Comment:</b>
    <div class="leave-comments-box">
      <%= form_for([@event, @event.comments.build]) do |f| %>
        <div class="text-area">
          <%= f.text_area :content, rows: 4, cols: 133, placeholder: 'Leave a messege'%> <br \>
        </div>
        <%= f.submit 'Submit', class: 'btn-submit' %>
      <% end %>
    </div>
  </div>
</div>
