<!DOCTYPE html>
<html>
<head>
  <title>Offline</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="container">
      <h1> <%= link_to "Happycasts Offline", :root %></h1>
    </div>
  </div>

  <div class="container">
    <div class="sub-nav">
      <ul>
        <% if current_user %>
          <li><%= link_to current_user.name, user_path(current_user) %></li>
          <li><%= link_to "logout", logout_path %></li>
        <% else %>
          <li><%= link_to "signup", signup_path %> </li>
          <li><%= link_to "login", login_path %></li>
        <% end %>
      </ul>
    </div>
    <%= yield %>
  </div>
</body>
</html>
