<!DOCTYPE html>
<html>
<head>
  <title>Offline</title>
  <meta charset='utf-8'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:action]  %>">

<div class="clearfix">
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</div>

</body>
</html>
